*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: black;
}

li{
  list-style:none;
}


a{
  color: #fff;
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-size: 20px;
}

.nav-link{
  transition: .7s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
}

.logo{
  width: 20%;
  height: 20%;
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: .7s;
  }


  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

}