@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* NAV BAR */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  section{
    position: relative;
  }
  
  header{
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  
  li{
    list-style:none;
  }
  
  
  a{
    color: #fff;
    text-decoration: none;
  }
  
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 20px;
  }
  
  .nav-link{
    transition: .7s ease;
  }
  
  .nav-link:hover{
    color: dodgerblue;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
  }
  
  .logo{
    width: 20%;
    height: 20%;
  }
  /* END OF NAV BAR */

.box{
    width: 100%;
    height: 300px;
}

.box p{
    font-size: 20px;
    /* margin-top: 100px; */
    
}

.box h1{
    font-size: 50px;
    /* text-shadow: 0px 0px 5px rgb(250, 250, 4); */

}

.section-1{
    height: 100vh;
    background-image: url('../img/wallpaper1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-img{

    width: 60%;
    position: absolute;
    bottom: 2%;
}



.section-2{
    height: 350px;
    width: 100%;
    display: table;
    clear: both;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background-color: #000;
}
.s2-row{
    height: 100%;
    width: 100%;
}
.s2-left, .s2-right, .s2-middle{
    float: left;
}
.s2-left, .s2-right{
    width: 25%;
    height: 100%;
}

.s2-middle{
    width: 50%;
}

.s2-left{
    background-image: url('../img/the-crew.png');
    background-repeat: no-repeat;
    background-position: 25% 110%;
}

.s2-right{
    background-image: url('../img/impostor-red.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 68% 55%;
}
/* .s2-column{
    float: left;
    padding: 3px;
}

.s2left, .s2right{
    height: 40vh;
    vertical-align: middle;
    width: 25%;
}
.s2middle{
    width: 50%;
}

.s2left{

    background-image: url('../img/the-crew.png');
    background-size: 50%;
    background-repeat: no-repeat;
    
} */


.section-2 h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.section-2 p{
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
}

.section-3{
    height: 670px;
    width: 100%;
    display: table;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background-image: url('../img/spaceship.png');
    background-size: cover;
    background-attachment: fixed;
}
.s3-row1{
    height: 15%;
    text-align: center;
    margin-top: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.s3-row2{
    height: 70%;
}
.s3r2-text{
    height: 25%;
    padding-top: 1px;
    line-height: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #000;
}
.s3r2-text p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.s3r2-text h2{
    margin-bottom: 10px;
}
.s3r2-box{
    height: 75%;
}
.s3r2-container{
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.s3img{
    width: 250px;
    margin: 0 50px;
}
.s3img p{
    margin-top: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.image2{
    margin-top: 60px;
}
.s3img img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.s3img:hover{
    transition: 1s;
    transform: scale(1.05);
    z-index: 2;
}

.s3-row3{
    height: 15%;
    margin-bottom: 30px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}




.section-4{
    height: 670px;
    width: 100%;
    display: table;
    flex-direction: column;
    text-align: center;
    color: black;
    background-color: black;
}

.s4-row1{
    height: 15%;
    text-align: center;
    margin-top: 15px;
    color: black;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);
}
.s4-row2{
    height: 70%;
}
.s4r2-text{
    height: 25%;
    padding-top: 1px;
    line-height: normal;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);

}
.s4r2-text p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.s4r2-text h2{
    margin-bottom: 10px;
}
.s4r2-box{
    height: 75%;
}
.s4r2-container{
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.s4img{
    width: 250px;
    height: 180px;
    margin: 0 50px;
}
.s4img p{
    margin-top: 5px;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);

}

.s4img img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.s4img:hover{
    transition: 1s;
    transform: scale(1.05);
    z-index: 2;
}
.s4img1{
    height: 100%;
    width: 100%;
    background-image: url("../img/red.png");
    background-size: cover;
}
.s4img1:hover{
    transition: 1s;
    background-image: url("../img/impostor.png");
}
.s4img2{
    height: 100%;
    width: 100%;
    background-image: url("../img/black-shapeshifter.png");
    background-size: cover;
}
.s4img2:hover{
    transition: 1s;
    background-image: url("../img/shapeshifter.png");
}

.s4-row3{
    height: 15%;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);
}

.section-5{
    background-color: blue;
}

@media(max-width:768px){
    .hamburger{
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity:0;
    }
  
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      position: fixed;
      left: -200%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: black;
      width: 100%;
      text-align: center;
      transition: .7s;
    }
  
  
    .nav-item{
      margin: 16px 0;
    }
  
    .nav-menu.active{
      left: 0;
    }
  
  }