@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* NAV BAR */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

section{
    position: relative;
}

header{
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

li{
    list-style:none;
}


a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}

.nav-link{
    transition: .7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
}

.logo{
    width: 20%;
    height: 20%;
}
/* END OF NAV BAR */

/* SECTION 1 */
.section-1{
    width: 100%;
    height: 70vw;
    margin: 0 auto;
    background-image: url('../img/wallpaper1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-amogus{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-amogus-img{

    width: 60%;
    position: absolute;
    bottom: 2%;
}
    /* END OF SECTION 1 */

/* SECTION 2 */
.section-2{
    width: 100%;
    height: 22vw;
    display: table;
    clear: both;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background-color: #000;
}
.s2-row{
    height: 100%;
    width: 100%;
}
.s2-left, .s2-right, .s2-middle{
    float: left;
}
.s2-left, .s2-right{
    width: 25%;
    height: 100%;
}

.s2-middle{
    width: 50%;
    padding-top: 4%;

}

.s2-left{
    background-image: url('../img/the-crew.png');
    background-repeat: no-repeat;
    background-position: 25% 110%;
    background-size: 70%;
}

.s2-right{
    background-image: url('../img/impostor-red.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 62% 55%;
}



.section-2 h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 2em;
}

.section-2 p{
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
}
    /* END OF SECTION 2 */

    /* SECTION 3 */
.section-3{
    width: 100%;
    height: 33vw;
    margin: 0 auto;
    display: table;
    text-align: center;
    background-image: url('../img/spaceship.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1em;
}
.section-3 p{
    font-size: 1.5em;
}

.s3-row1{
    height: 15%;
    text-align: center;
    padding-top: 0.5%;
}

.s3-row2{
    height: 70%;
}

.s3r2-text{
    height: 25%;
    padding-top: 0.8%;
    padding-bottom: 0.5%;
    line-height: normal;
    background-color: #000;
    box-shadow: 0 2px 18px black;
}

.s3r2-container{
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.s3img{
    width: 25%px;
    margin: 0 50px;
}
.s3img p{
    margin-top: 5px;
}

.image2{
    margin-top: 60px;
}
.s3img img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.s3img:hover{
    transition: 1s;
    transform: scale(1.05);
    z-index: 2;
}

.s3-row3{
    height: 15%;
    padding-bottom: 1%;
}
    /* END OF SECTION 3 */

    /* SECTION 4 */

.section-4{
    height: 44vw;
    width: 100%;
    display: table;
    flex-direction: column;
    text-align: center;
    color: black;
    background-color: black;
    font-size: 1em;
}

.s4-row1{
    height: 15%;
    text-align: center;
    margin-top: 15px;
    color: black;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);
}
.s4-row2{
    height: 70%;
}
.s4r2-text{
    height: 25%;
    padding-top: 1px;
    line-height: normal;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);

}
.s4r2-text p{
    margin-top: 0.75%;
    margin-bottom: 0.75%;
}
.s4r2-text h2{
    margin-bottom: 0.75%;
}
.s4r2-box{
    height: 75%;
}
.s4r2-container{
    width: 100%;
    height: 100%;
    padding: 1%;
    padding: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.s4img{
    width: 30%;
    height: 63%;
    margin: 0 50px;
}
.s4img p{
    margin-top: 5px;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);

}

.s4img img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.s4img:hover{
    transition: 1s;
    transform: scale(1.05);
    z-index: 2;
}
.s4img1{
    height: 100%;
    width: 100%;
    background-image: url("../img/red.png");
    background-size: cover;
}
.s4img1:hover{
    transition: 1s;
    background-image: url("../img/impostor.png");
}
.s4img2{
    height: 100%;
    width: 100%;
    background-image: url("../img/black-shapeshifter.png");
    background-size: cover;
}
.s4img2:hover{
    transition: 1s;
    background-image: url("../img/shapeshifter.png");
}

.s4-row3{
    height: 15%;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 rgb(255, 255, 255), 0.5px -0.5px 0 rgb(255, 255, 255), -0.5px 0.5px 0 rgb(255, 255, 255), 0.5px 0.5px 0 rgb(255, 255, 255);
}

    /* END OF SECTION 4 */

    /* SECTION 5 */

.section-5{
    width: 100%;
    height: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.slider-inner{
    width: 60%px;
    height: 35%px;
    position: relative;
    overflow: hidden;
    float: left;

}

.slider-inner img{
    display: none;
    width: 60%px;
    height: 35%px;
    max-width: 100%;

}

.slider-inner img.active{
    display: inline-block;
}

.prev, .next{
    float: left;
    margin-top: 20%;
    cursor: pointer;
}

.prev{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

    /* END OF SECTION 5 */

    /* SECTION 1 MEDIA */

@media(max-width:1172px){
    .logo-amogus-img{
        top: 20%;
    }
    
}
    /* END OF SECTION 1 MEDIA */

    /* SECTION 2 MEDIA */

@media(max-width:1132px){

    .s2-right{
        width: 0%;
        display: none;
    }
    .s2-left{
        width: 0%;
        display: none;
    }
    .s2-middle{
        width: 100%;
    }
}
    /* END OF SECTION 2 MEDIA */

    /* SECTION 3 MEDIA */

@media(max-width:610px){
    .s3r2-container{
        display: none;
        width: 0%;
    }

}

    /* END OF SECTION 3 MEDIA */

    /* SECTION 4 MEDIA */

@media(max-width:842px){
    .s4r2-container{
        display: none;
        width: 0%;
    }
    .s4-row2{
        height: 50%;
    }

}

    /* END OF SECTION 4 MEDIA */

    /* SECTION 5 MEDIA */

@media(max-width:1005px){
    .section-5{
        display: none;
    }

}

    /* END OF SECTION 5 MEDIA */

    /* NAV BAR MEDIA */

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: .7s;
    }


    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

}

    /* END OF NAV BAR MEDIA */
    